<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GamingMusicPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GamingMusicPlayer.Properties.Settings.SongsDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SongsDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   
    <userSettings>
        <GamingMusicPlayer.Properties.Settings>
            <setting name="volume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="overlayX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="overlayY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vpTs3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vpSkype" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vpDiscord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vpOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="overlayOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="overlayClickable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedTrackIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="musicTrackBarValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="songMatchOn" serializeAs="String">
                <value>False</value>
            </setting>
        </GamingMusicPlayer.Properties.Settings>
    </userSettings>
</configuration>